cream = rgb(246,243,238)
brown = rgb(69,54,47)
yellow = rgb(245,208,76)
orange = rgb(255,111,29)
green =rgb(147,209,85)

body
  margin 0

.canvasContainer
  width 100%
  display: flex;
  justify-content: center;
  padding-top: 30px

canvas
  border 8px solid #333
  border-radius: 10px
  -webkit-box-shadow: 7px 9px 43px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 9px 43px -12px rgba(0,0,0,0.75);
  box-shadow: 7px 9px 43px -12px rgba(0,0,0,0.75);
  
.buttonContainer
  padding-top: 50px
